Repository mapbox/ios-sdk-examples, pull requests merged in 2018-05, with the labels that each got.

#171 Require map's gestures to fail before accepting our taps
  Examples/ObjectiveC/ClusteringExample.m
  Examples/ObjectiveC/FeatureSelectionExample.m
  Examples/ObjectiveC/PointConversionExample.m
  Examples/ObjectiveC/SelectFeatureExample.m
  Examples/ObjectiveC/WebAPIDataExample.m
  Examples/Swift/ClusteringExample.swift
  Examples/Swift/FeatureSelectionExample.swift
  Examples/Swift/PointConversionExample.swift
  Examples/Swift/SelectFeatureExample.swift
  Examples/Swift/WebAPIDataExample.swift
Labels: bug, update example

#174 Switched to using bounds rather than frame for cornerRadius (as frame changes when rotated).
  Examples/ObjectiveC/AnnotationViewExample.m
Labels: bug

#176 AnnotationViewExample: bring frame→bounds changes to Swift, too
  Examples/Swift/AnnotationViewExample.swift
Labels: update example

#172 [WIP]Example list should be better organized and more friendly
  Examples/Examples.h
  Examples/Examples.m
  Examples/ExamplesTableViewController.m
  Examples/Main.storyboard
Labels: WIP

#182 Bumped for v4.0.1
  Podfile.lock
Labels: maintenance

#153 Heatmap example
  Examples.xcodeproj/project.pbxproj
  Examples/Examples.h
  Examples/Examples.m
  Examples/ObjectiveC/Headers/HeatmapExample.h
  Examples/ObjectiveC/HeatmapExample.m
  Examples/Swift/HeatmapExample.swift
  Podfile.lock
Labels: new example
