Repository mapbox/ios-sdk-examples, pull requests merged in 2019-07, with the labels that each got.

#324 Remove navigation tutorial
  DocsCode/NavigationTutorial/NavigationTutorialViewController.h
  DocsCode/NavigationTutorial/NavigationTutorialViewController.m
  DocsCode/NavigationTutorial/NavigationTutorialViewController.swift
  Examples.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
Labels: maintenance

#328 Update to new completionful methods in maps 5.2.0
  Examples/ObjectiveC/CustomCalloutViewExample.m
  Examples/ObjectiveC/DefaultCalloutExample.m
  Examples/ObjectiveC/WebAPIDataExample.m
  Examples/Swift/CustomCalloutViewExample.swift
  Examples/Swift/DefaultCalloutExample.swift
  Examples/Swift/WebAPIDataExample.swift
Labels: update example

#327 UserTrackingModesExample: enable user heading indicator and simplify constraints
  Examples/ObjectiveC/UserTrackingModesExample.m
  Examples/Swift/UserTrackingModesExample.swift
Labels: update example

#252 Enable code coverage, add code coverage & bitrise badges
  Examples.xcodeproj/xcshareddata/xcschemes/Examples.xcscheme
  README.md
  codecov.yml
Labels: tests
